@model AddViewModel
@{
    ViewData["Title"] = "Chek yaratish";
}

<form asp-controller="home" asp-action="search" method="post">
    <input class="form-control w-100 mb-2" type="search" placeholder="Mahsulot nomini kiriting"/>
    <button type="submit" class="btn btn-primary mt-2 mb-4 w-100">Qidirish</button>
</form>

<form asp-controller="home" asp-action="add" method="post">
    @for (int i = 0; i < Model.Thing.Count; i++)
    {
        <div class="oneLine mb-2">
            <input asp-for="Thing[i].Name" class="form-control forName" readonly="readonly">
            <input asp-for="Thing[i].Count" class="form-control forCount" required/>
        </div>
    }
    <button type="submit" class="btn btn-success mt-2 mb-3 w-100">Yuborish</button>
</form>


