@{
    ViewData["Title"] = "Chek yaratish";
}

<form action="">
    <div class="oneLine">
        <input type="text" class="form-control forName">
        <input type="number" class="form-control forCount">
    </div>
    <button class="btn btn-success w-100 mt-3">Yana</button>
    <button class="btn btn-primary w-100 mt-3" type="submit">Chekni chiqarish</button>
</form>
