@model AddViewModel
@{
    ViewData["Title"] = "Chek yaratish";
}

<form asp-controller="home" asp-action="add" method="post">
    <div id="parent-div">
        <div class="oneLine mb-3">
            <select class="form-select forName" asp-for="Things[0].Name" asp-items="@(new SelectList(Model.Things, nameof(Thing.Name), nameof(Thing.Name)))">
            </select>
            <input type="number" class="form-control forCount" required asp-for="Things[0].Count">
        </div>
    </div>
    <input type="button" value="+" class="add btn btn-success mr-3 mt-3" />
    <input type="button" value="-" class="remove btn btn-info mt-3" onclick="removeItem()" />
    <button type="submit" class="btn btn-primary w-100 mt-4"><i class="fas fa-print mr-2"></i>Chekni chiqarish</button>
</form>
