@model DetailsViewModel
@{
    ViewData["Title"] = "Tahrirlash";
}

<form asp-controller="home" asp-action="details" method="post">
    <h5 class="text-center mb-3">Mahsulotni tahrirlash</h5>
    <input asp-for="Product.Id" hidden/>
    <label asp-for="Product.Name"></label>
    <input asp-for="Product.Name" type="text" class="form-control mb-4" required placeholder="Nomini kiriting">
    <label asp-for="Product.Price"></label>
    <input asp-for="Product.Price" type="number" class="form-control" required placeholder="Narxini kiriting" min="0">
    <button type="submit" class="btn btn-primary w-100 mt-3">Saqlash</button>
</form>
<a class="btn btn-danger w-100 mt-3" asp-controller="home" asp-action="delete" asp-route-Id="@Model.Product.Id" 
   onclick="return confirm('Rostan ham ushbu muzqaymoqni o`chirmoqchimisiz')"> 
    <i class="fas fa-trash"></i> O'chirish
</a>