@{
    ViewData["Title"] = "Tahrirlash";
}

<form action="" method="post">
    <h5 class="text-center mb-3">Mahsulotni tahrirlash</h5>
    <label>Nomi</label>
    <input type="text" class="form-control mb-4" required placeholder="Nomini kiriting">
    <label>Narxi</label>
    <input type="number" class="form-control" required placeholder="Narxini kiriting" min="0">
    <button type="submit" class="btn btn-primary w-100 mt-3">Saqlash</button>
</form>
<form action="">
    <button class="btn btn-secondary w-100 mt-3"> <i class="fas fa-trash mr-2"></i> O'chirish</button>
</form>