@{
    ViewData["Title"] = "MOZ";
}

<a asp-controller="home" asp-action="add" class="btn btn-primary w-100 mb-3">Buyurtma</a> <br>
<a asp-controller="home" asp-action="all" class="btn btn-primary w-100 mb-3">Muzqaymoqlar</a> <br>
<a asp-controller="home" asp-action="create" class="btn btn-primary w-100 mb-3">Yangi muzqaymoq</a><br>
