@{
    ViewData["Title"] = "Home Page";
}

<a href="order.html" class="btn btn-primary w-100 mb-2">Buyurtma</a> <br>
<a href="all.html" class="btn btn-primary w-100 mb-2">Muzqaymoqlar</a> <br>
<a href="addproduct.html" class="btn btn-primary w-100 mb-2">Yangi muzqaymoq</a><br>
